<div class="containerLogin">
  <div class="contentLogin">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/img/foxlogo.jpg" class="logo" alt="tame the fox">
      </div>
    </div>
    <!--title-->
    <div class="row my-2">
      <div class="col-md-12 text-center">
        <h1 class="title">
          Tame the Fox !
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <h4 class="title mb-2">Connexion</h4>
      </div>
      <div *ngIf="errorMessage" class="col-12">
        <div class="alert alert-warning" role="alert">
          Message : {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="col-12">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text"
                   id="email"
                   class="form-control"
                   formControlName="email"
                   placeholder="Votre email">
          </div>
          <div class="form-group">
            <input type="password"
                   id="password"
                   class="form-control"
                   formControlName="password"
                   placeholder="Votre mot de passe">
          </div>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="signinForm.invalid">Connexion</button>
          <button class="btn btn-outline-primary ml-2" routerLink="/signup" routerLinkActive="active">Creer un compte</button>
        </form>
      </div>
    </div>
  </div>
</div>
