<div *ngIf="fireauthSrv.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="containerLogin">
      <div class="contentLogin">
        <!--title-->
        <div class="row my-2">
          <div class="col-md-12 text-center">
            <app-logo></app-logo>
            <h1 class="title mt-3">
              Tame the Fox !
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 ">
            <h4 class="title mb-2">Connexion</h4>
          </div>
        </div>
        <app-alert></app-alert>
        <div class="row">
          <div class="col-12">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text"
                       id="email"
                       class="form-control"
                       formControlName="email"
                       placeholder="Votre email">
              </div>
              <div class="form-group">
                <input type="password"
                       id="password"
                       class="form-control"
                       formControlName="password"
                       placeholder="Votre mot de passe">
              </div>
              <button 
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="signinForm.invalid">Connexion</button>
              <button disabled="disabled" class="btn btn-outline-primary ml-2">Creer un compte</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
connecté.e
</ng-template>


