  <div class="row bg-white">
    <div class="col-3">
      <img src="assets/img/foxlogo.jpg" style="width:60px">
      <a class="title ml-3 align-middle" style="font-size:30px;">Tame the fox ! </a>
    </div>
    <div class="col-2 text-right py-2">     
      <label class="title">Votre humeur:</label>
    </div>
    <div class="col-4 py-2">
      <div *ngIf="fireauthSrv.user$ | async as connectedUser">
        <div class="col-6">
          <div class="btn-group btn-group-sm" role="group">
            <button
                  class="btn btn-outline-light"
                  [class.active]="connectedUser.mood === 'sunny'"
                  (click)="userSrv.changeMood(connectedUser.uid,'sunny')">
                      <img src="assets/img/sunny.png">
            </button>
            <button
                  class="btn btn-outline-light"
                  [class.active]="connectedUser.mood === 'clouds'"
                  (click)="userSrv.changeMood(connectedUser.uid,'clouds')">
                      <img src="assets/img/clouds.png">
            </button>
            <button
                  class="btn btn-outline-light"
                  [class.active]="connectedUser.mood === 'questions'"
                  (click)="userSrv.changeMood(connectedUser.uid,'questions')">
                      <img src="assets/img/questions.png">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 text-right py-2">
      <button class="btn btn-outline-primary mr-2" disabled="disabled">Voir mon profil</button>
      <button class="btn btn-outline-primary" (click)="fireauthSrv.signOut()">Me déconnecter </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="height:50px;">
      <div class="col-12"  style="position:relative">
        <div class="alert alert-warning m-1 text-center">
          <div class="mr-4 d-inline-block">
              <em><strong>X</strong> personnes dans le chat</em>
          </div>
          <!--sunny-->
          <div class="mr-4 d-inline-block">
            <img src="assets/img/sunny.png" class="mr-2">
            <span *ngIf="!sunnyUsers$ || sunnyUsers$?.length > 0">{{sunnyUsers$?.length}}</span>
          </div>
          <!--clouds-->
          <div class="mr-4 d-inline-block">
            <img src="assets/img/clouds.png" class="mr-2">
            <span *ngIf="!cloudsUsers$ || cloudsUsers$?.length > 0">{{cloudsUsers$?.length}}</span>
          </div>
          <!--questions-->
          <div class="mr-4 d-inline-block">
            <img src="assets/img/questions.png" class="mr-2">
            <span *ngIf="!questionsUsers$ || questionsUsers$?.length > 0">{{questionsUsers$?.length}}</span>
          </div>
        </div>
      
        <app-alert></app-alert> 
      </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <h5 class="title">Personnes connectées <small></small></h5>
          </div>
        </div>
        <div *ngIf="fireauthSrv.user$ | async as connectedUser">
          <ul class="list-group userlist">
            <ng-container *ngFor="let user of userList$ | async; let i = index" >
              <li
                *ngIf="user.email != connectedUser.email" 
                (click)="createComponent(connectedUser, user, i)"
                [className]="userActivePanel == user ? 'active list-group-item' : 'list-group-item'">
                <img src="assets/img/{{user.mood}}.png" class="mr-3" style="width:20px;">{{user.uid | slice:0:20}}</li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <ng-template #chatpanelsContainer></ng-template>      
      </div>
    </div>
  