<!-- content chat -->
<div class="row" [hidden]="hideChatpanel" style="background:white;">
  <!-- chat col-->
  <div class="col-6">
    <div class="chatmessages bg-white my-3"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <!--div class="text-center" *ngIf="user.messages.length == 0">
          Personne n'a encore rien dit.<br />
          Démarrez la conversation ;)
      </div-->
      <ng-container *ngFor="let message of chatMessages">
        <div
          [className]="message.from == connectedUser.email ? 'card chat m-2 fromto' : 'card chat m-2 tofrom'"
          *ngIf="(message.from == from.email && message.to == to.email) || (message.from == to.email && message.to == from.email) ">
          <div class="card-header text-muted">
             <img class="img-fluid" src="assets/img/{{message.mood}}.png">
             {{message.from}}
          </div>
          <div class="card-body">
            {{message.content}}
          </div>
          <div class="card-footer text-muted">
            {{ message.createdAt | dateAgo}}
          </div>
        </div>
      </ng-container>

    </div>

    <!-- chat send -->
    <div class="row my-3">
      <div class="col-12">
        <div class="formSend">
          <form (ngSubmit)="sendMessage()">
            <div class="input-group">
              <input
                 name="msg2send"
                 class="form-control"
                 [(ngModel)]="msg2send"
                 type="text"
                 placeholder="Dites quelque chose...">
							  <div class="input-group-append">
							    <button
                    class="btn btn-outline-primary"
                    type="submit"
                    >C'est dit !</button>
							  </div>
							</div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!--profile-->
  <div class="col-6 my-3">
    <div class="row">
      <div class="col-12">
        <h4 class="title">Vous chattez avec </h4>
      </div>
      <div class="col-6">
        <h4 class="title">
            <img class="" src="assets/img/{{to.mood}}.png" style="width:14%" alt="happy" />
            {{to.email}}
        </h4>
      </div>
      <div class="col-6 text-right">
          <button type="button" (click)="selectBox('tamebox')" [className]="selectedBox == 'profilebox' ? 'btn btn-primary' : 'btn btn-outline-primary'" >Apprivoiser</button>
          <button class="ml-2 btn btn-primary" (click)="destroy()">Fermer</button>
      </div>
    </div>
    <div class=" bg-white profile">
      <div class="col-12 p-0">
        <!--TODO: show if observable empty
          <div class="text-center">
          <img src="assets/img/foxlogogrey.jpg" style="width:60%"><br />
          Ce profil est vide pour le moment...<br />
          Soyez le ou la première à écrire dedans !
        </div>
        -->
        <div
          class="profilemsg p-3 my-2"
           #scrollMe [scrollTop]="scrollMe.scrollHeight"
          *ngFor="let entry of profileEntries">
          <span class="font-weight-bold">
          <strong class="text-muted">{{ entry.createdAt | dateAgo}}</strong> -
          <strong>{{entry.from}}</strong>
          </span><br />
          {{entry.content}}<br/>

        </div>
      </div>
    </div>
    <div class="col-12 my-2">
      <h4 class="title">Ajouter des informations</h4>
      <form  (ngSubmit)="addEntryToProfile()">
        <div class="form-group mb-1">
          <textarea
            class="form-control"
            rows="2"
            placeholder="Comment elle/il se sent ? Que fait elle/il en ce moment ? Comment elle/il sent ?"
            name="profilEntry2send"
            [(ngModel)]="profilEntry2send">
          </textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-outline-primary">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
