<!-- content chat -->
<div class="row" [hidden]="!active">
  <!-- chat col-->
  <div class="col-8">
    <div class="bg-white my-3 text-center">
        <img src="assets/img/foxlogogrey.jpg" style="width:200px"><br />
        <h4 class="title">Vous vous appprêtez à voir votre profil...</h4>
        <p>
          Vous pouvez voir votre profil, mais il sera ensuite effacé.
        </p>
        <ul>
          <li>Vous <strong>perdez toutes les personnes que vous avez apprivoisées</strong></li>
          <li>votre profil est <strong>vidé de tout son contenu</strong></li>
          <li>Vous avez vu votre profil, <strong>vous repartez à zero</strong></li>
        </ul>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="understood">
          <label class="form-check-label" for="understood">Je comprends les risques</label>
        </div>
        <button class="btn btn-outline-primary">Voir mon profil </button><br />
        <button class="btn btn-outline-primary btn-sm mt-2">Annuler </button>
    </div>
  </div>
  
</div>
