.alert {
    position: absolute;
    top:0;
    left:0;
    margin:10px 10px;
    width:100%;
    text-align:center;
}
.alert-warning {
    color: #856404;
    background-color: #fff4e6;
    border-color: #fff4e6;
}