<!--profile-->
<div class="col-6 my-3" style="border-left:1px solid #efefef;">
    <div class="row">
      <div class="col-12">
        <h4 class="title">Votre profil </h4>
        <h5 class="title">Votre identifiant</h5>
        <p class="text-muted">Voici comment les autres vous voyait:</p>
        Vous êtes : <strong>iR9DLH6IxbvhLKQwfnqD</strong>
      </div>
      <div class="col-12 p-2">
        <h5 class="title">Apprivoisé.e.[s]: 6 fois</h5>
        <p class="text-muted">Voici les noms que l'on vous a donné:</p>
        iR9DLH6IxbvhLKQwfnqD vous a nommé: <strong> Mec Cool </strong><br />
        rjdWrw2tt2MFxJkmPRh5 vous a nommé: <strong> Etrangeté </strong><br />
        <button class="btn btn-block btn-outline-primary mt-2">Retour au chat</button>
      </div>
    </div>
  </div>